{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- Include additional CSS specific to the reviews page -->
    <link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto mt-2 text-center">
                <!-- Page heading for the Review section -->
                <h1 class="text-uppercase mb-4">Review</h1>
            </div>
        </div>
        <hr>
        <br>
        <div class="row">
            <!-- Product Information Section -->
            <div class="col-12 col-md-6 mb-3">
                <div class="shadow-lg p-3 bg-body-tertiary rounded">
                    <!-- Heading for the Product Information section -->
                    <h2 class="text-muted text-center text-uppercase">Product Information</h2>
                    <div class="row">
                        <div class="col-6 mb-3">
                            {% if product.image %}
                                <!-- Display product image if available, else show a default image -->
                                <img class="w-100" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-6 mb-3">
                            <!-- Display product name and description -->
                            <p>{{ product.name }}</p>
                            <p>{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Review Form Section -->
            <div class="col-12 col-md-6 mb-3">
                <div class="shadow-lg p-3 bg-body-tertiary rounded">
                    <!-- Heading for the Add Review Form section -->
                    <h2 class="text-muted text-center text-uppercase">Add Review</h2>
                    <!-- Review form with CSRF token and crispy form rendering -->
                    <form method="POST" action="{% url 'add_review' product.id %}" id="review-form" class="text-muted form mb-5"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="text-center">
                            <!-- Submit and Cancel buttons for the form -->
                            <button class="btn btn-primary mt-3" type="submit">Add Review</button>
                            <a class="btn btn-outline-black mt-3" href="{% url 'product_detail' product.id %}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
