{% extends "base.html" %}
{% load static %}
{% load my_filters %}

{% block extra_css %}
    <!-- Include additional CSS specific to the reviews page -->
    <link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock %}

{% block content %}
    <!-- Reviews Section -->
    <section class="py-5">
        <div class="container">
            <h4 class="text-uppercase text-center">
                My Reviews
            </h4>
            <hr>
            <br>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% if reviews %}
                    {% for review in reviews %}
                        <!-- Review Card -->
                        <div class="col">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <!-- Product Image Column -->
                                    <div class="col-md-4">
                                        <!-- Link to the product detail page -->
                                        <a class="link-blue" href="{% url 'product_detail' review.product.id %}">
                                            <!-- Display the product image or a default image if not available -->
                                            <img class="rounded" src="{{ review.product.image.url }}" alt="{{ review.product.name }}" width="100%" height="200px">
                                        </a>
                                    </div>
                                    <!-- Review Details Column -->
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <!-- Review Title -->
                                            <h5 class="card-title">{{ review.title }}</h5>
                                            <div>
                                                <!-- Review Content -->
                                                <p class="card-text content_review">{{ review.content }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Review Footer -->
                                    <div class="card-footer bg-transparent border-success">
                                        <div class="d-flex justify-content-between">
                                            <!-- Display the review creation timestamp -->
                                            <div>
                                                <p class="card-text"><small class="text-body-secondary">{{ review.created_on }}</small></p>
                                            </div>
                                            <!-- Display the star rating if available -->
                                            <div>
                                                {% if review.rating %}
                                                    <span class="font-14 mr-2">
                                                        {% for value in review.rating|reviews_range %}
                                                            <i class="fas fa-star text-warning"></i>
                                                        {% endfor %}
                                                        <span class="ms-1">
                                                            {{ review.rating | floatformat }} / 5
                                                        </span>
                                                    </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Review Actions Dropdown -->
                                <div class="review_actions dropdown">
                                    <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-bars"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- Edit Review Option -->
                                        <li>
                                            <a href="{% url 'edit_review' review.id %}" class="dropdown-item">Edit</a>
                                        </li>
                                        <!-- Delete Review Option -->
                                        <li>
                                            <a href="{% url 'delete_review' review.id %}" class="dropdown-item" id="remove_{{ item.item_id }}">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End of Review Card -->
                    {% endfor %}
                {% else %}
                    <!-- Display message when reviews are empty -->
                    <div class="col-md-6 offset-md-3 shadow-lg p-3 bg-body-tertiary rounded mt-5 mb-5">
                        <p class="text-uppercase font-monospace text-center">Your reviews list is empty.</p>
                        <div class="text-center">
                            <a href="{% url 'products' %}" class="btn btn-outline-black mt-3">Continue Shopping</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if reviews.has_other_pages %}
            <!-- Pagination -->
            <nav aria-label="Page navigation" class="mt-3">
                <ul class="pagination justify-content-center">
                    {% if reviews.has_previous %}
                        <li class="page-item"><a href="?page={{ reviews.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
                    {% endif %}
                    <li class="page-item disabled"><span class="page-link">Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}</span></li>
                    {% if reviews.has_next %}
                        <li class="page-item"><a href="?page={{ reviews.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </section>
{% endblock %}
