{% load my_filters %}

<style>
.card-img-top1{
    object-fit: scale-down;
    margin-top: 10px 
}
</style>
<div class="col">
    <div class="card shadow border-dark">
        {% if product.image %}
            <a href="{% url 'product_detail' product.id %}">
                <img class="card-img-top1 image-product" src="{{ product.image.url }}" alt="{{ product.name }}" width="100%" height="300px">
            </a>
        {% else %}
            <a href="{% url 'product_detail' product.id %}">
                <img class="card-img-top image-product" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" width="100%" height="300" >
            </a>
        {% endif %}
        <span class="badge text-white ">   
            <i class="fas fa-tag mr-1"></i>
            {{ product.category.friendly_name }}
        </span>
        <hr>                                            
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <p class="text">{{ product.name }}</p>
            
            {% if show_remove == 0 %}
            <a href="{% url 'add_to_wishlist' product.id %}">
                <!-- Add in the model product by user logged if the product exist in his wishlist -->
                <i class="fa-solid fa-heart" style="color: #B197FC; display: none;"></i>                
                <i class="fa-regular fa-heart" style="color: #B197FC;"></i>
            </a>              
            {% else %}
            <a href="{% url 'remove_from_wishlist' item.product.id %}">
                    <i class="fa-solid fa-trash" style="color: #B197FC;"></i>
                </a>
            {% endif %}
        </div>
    <div class="d-flex justify-content-between align-items-center">
        <p class="h6 mb-0 text-left font-weight-bold ">${{ product.price }}</p>
        <small class="text-body-secondary">                                    
        {%if product.rating %}
        <span class="font-14 mr-2">
            {% for value in product.rating|reviews_range %}
                <i class="fas fa-star text-warning"></i>
            {% endfor %}
           
        </span>
        {% endif %}
    </small>
    </div>
    </div>
    </div>
</div>