{% load my_filters %}
<!-- Load custom filters from 'my_filters' -->

{% load static %}

<div class="col">
    <!-- Column for displaying product information -->
    <div class="card shadow border-dark">
        {% if product.image %}
            <!-- Display product image if available -->
            <a href="{% url 'product_detail' product.id %}">
                <img class="card-img-top1 image-product" src="{{ product.image.url }}" alt="{{ product.name }}" width="100%" height="300px">
            </a>
        {% else %}
            <!-- Display a default image if product has no image -->
            <a href="{% url 'product_detail' product.id %}">
                <img class="card-img-top1 image-product" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" width="100%" height="300" >
            </a>
        {% endif %}
        <span class="badge text-white">   
            <!-- Display product category as a badge -->
            <i class="fas fa-tag mr-1"></i>
            {{ product.category.friendly_name }}
        </span>
        <hr>                                            
        <div class="card-body">
            <!-- Card body for product details -->
            <div class="d-flex justify-content-between">
                <!-- Display product name and heart icon for wishlist -->
                <p class="text">{{ product.name }}</p>
                {% if show_remove == 0 %}
                    <div class="col-2 col-xxl-1  mb-3">        
                        <!-- Add to wishlist button -->                               
                        {% with is_in_mywishlist=product.wishlists.all|is_wishlisted:request.user.id %}                                   
                            {% if is_in_mywishlist %}
                                <a class="btn wishlist_btn rounded" href="{% url 'remove_from_wishlist' product.id %}">
                                    <i class="fa-solid fa-heart"></i>
                                </a>
                            {% else %}
                                <a class="btn wishlist_btn rounded" href="{% url 'add_to_wishlist' product.id %}">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            {% endif %}        
                        {% endwith %}                    
                    </div>
                {% else %}
                    <!-- Display trash icon for removing from wishlist -->
                    <a class="btn btn-primary delete-wishlist" href="{% url 'remove_from_wishlist' item.product.id %}" id="delete-wishlist-{{product.id}}">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                {% endif %}
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <!-- Display product price and optional star rating -->
                <p class="h6 mb-0 text-left font-weight-bold ">€{{ product.price }}</p>
                <small class="text-body-secondary">
                    {% if product.rating %}
                        <!-- Display star icons for product rating -->
                        <span class="font-14 mr-2">
                            {% for value in product.rating|reviews_range %}
                                <i class="fas fa-star text-warning"></i>
                            {% endfor %}
                        </span>
                        <span class="ms-1">
                            {{ product.rating | floatformat }} / 5
                        </span>
                    {% else %}
                        <!-- Display empty star icons when no rating is available -->
                        <span class="font-14 mr-2">
                            {% for _ in 1|reviews_range %}
                                <i class="far fa-star text-warning"></i>
                            {% endfor %}
                        </span>
                        <span class="ms-1">
                            No rating yet
                        </span>
                    {% endif %}
                </small>
                
            </div>
        </div>
    </div>
</div>
