{% if widget.is_initial %}
    <!-- Display initial content if the widget has an initial value -->
    <p>{{ widget.initial_text }}:</p>
    <a href="{{ widget.value.url }}">
        <img width="96" height="96" class="rounded shadow-sm" src="{{ widget.value.url }}" alt="Image of a Product">
    </a>

    {% if not widget.required %}
        <!-- Display checkbox for clearing the image if widget is not required -->
        <div class="custom-control custom-checkbox mt-2">
            <input class="custom-control-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
            <label class="custom-control-label text-danger" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
        </div>
    {% endif %}<br>

    <!-- Display additional input text for the widget -->
    {{ widget.input_text }}
{% endif %}

<!-- Input field for selecting a new image -->
<label for="new-image" class="btn btn-black rounded-0 btn-file">
    Select Image
    <input id="new-image" type="file" name="image" accept="image/*" class="shadow-lg p-2 bg-body-tertiary rounded mb-2">
</label>

<!-- Display the filename once an image is selected -->
<strong class="text-danger" id="filename"></strong>
