<!-- Header section with dark background and padding -->
<header class="p-1 text-bg-dark">

<!-- Navigation bar section -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        
        <!-- Brand logo and navigation toggle button -->
        <a href="{% url 'home' %}" class="navbar-brand">
          <img src="https://hookah-culture.s3.eu-west-1.amazonaws.com/media/logo3.png" alt="logo3" width="120" height="60">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Navigation links and dropdowns -->
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <ul class="navbar-nav nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item d-block">
              <a class="nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                  Home 
              </a>
            </li>
            <!-- Dropdown for All Products -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProducts" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                All Products
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownProducts">
                <li>
                  <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                </li>
                <li>
                  <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                </li>
                <li>
                  <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                </li>
                <li>
                  <a href="{% url 'products' %}" class="dropdown-item ">All Products</a>
                </li>
                
              </ul>
            </li>
            
            <!-- Dropdown for Hookah -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHookah" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Hookah
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownHookah">
                <a href="{% url 'products' %}?category=ceramic" class="dropdown-item">Ceramic</a>
                <a href="{% url 'products' %}?category=glass" class="dropdown-item">Glass</a>
                <a href="{% url 'products' %}?category=luxury" class="dropdown-item">Luxury</a>
                <a href="{% url 'products' %}?category=ceramic,glass,luxury" class="dropdown-item">All Hookahs</a>
              </div>
            </li>
            
            <!-- Dropdown for Flavours -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFlavours" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Flavours
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownFlavours">
                <a href="{% url 'products' %}?category=light" class="dropdown-item">Light Flavours</a>
                <a href="{% url 'products' %}?category=strong" class="dropdown-item">Strong Flavours</a>
                <a href="{% url 'products' %}?category=light,strong" class="dropdown-item">All Flavours</a>
              </div>
            </li>
            
            <!-- Dropdown for Special Offers -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Special Offers
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                <a href="{% url 'products' %}?category=arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=arrivals,deals,clearance" class="dropdown-item">All Specials</a>
              </div>
            </li>
          </ul>
          
          <!-- Search form (displayed on the 'products' view) -->
          {% if request.resolver_match.view_name == "products" %}
            <form method="GET" action="{% url 'products' %}" class="d-flex  me-2 justify-content-around  mb-2 mb-lg-0">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
              <button class="btn btn-outline-secondary" type="submit">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
              </button>
            </form>
          {% endif %}
          
          <!-- User authentication and cart information -->
          {% if request.user.is_authenticated %}
            <ul class="navbar-nav">
              <!-- Dropdown for My Account -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  My Account {% if request.user.is_superuser %}
                  <i class="fa-solid fa-user-secret fa-lg "></i>
                {% else %}
                  <i class="fa-solid fa-user-tie fa-lg"></i>
                {% endif %}
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownAccount">
                  <!-- Product management link for superusers -->
                  {% if request.user.is_superuser %}
                  <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                  {% endif %}
                  <!-- User profile, wishlist, reviews, and contact links -->
                  <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                  <a href="{% url 'wishlist' %}" class="dropdown-item">Wishlist</a>
                  <a href="{% url 'reviews' %}" class="dropdown-item">Reviews</a>
                  <a href="{% url 'contact' %}" class="dropdown-item">Contact Us</a>
                  <!-- Logout link -->
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                </div>
              </li>
              
              <!-- Cart icon with total price -->
              <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'view_cart' %}">
                  <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class="my-0">
                      {% if grand_total %}
                      €{{ grand_total|floatformat:2 }}
                      {% else %}
                      €0.00
                      {% endif %}
                    </p>
                  </div>
                </a>
              </li>
            </ul>
          {% else %}
          <!-- Login and Sign-up buttons for unauthenticated users -->
          <div class="navbar-nav mb-2 mb-lg-0">
            <a href="{% url 'account_login' %}" class="btn btn-outline-light me-2">Login</a>
          </div>
          <div class="navbar-nav mb-2 mb-lg-0">
            <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign-up</a>
          </div>
          <div class="navbar-nav mb-2 mb-lg-0">
            <a class="nav-link" href="{% url 'view_cart' %}">
              <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0">
                  {% if grand_total %}
                  €{{ grand_total|floatformat:2 }}
                  {% else %}
                  €0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </div>
        {% endif %}
        </div>        
    </div>
  </nav>
  <div class="container-fluid banner">
    <div class="row text-center">
      <h4 class="py-2"><i class="fa-solid fa-truck-fast"></i> <strong class="delivery-text">Free Delivery on</strong> all orders over €{{ free_delivery_threshold }}!</h4>                
    </div>
  </div>
</header>
