{% extends "base_v2.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto mt-2 text-center">
                <h1 class="logo-font mb-4">Product Management</h1>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 col-md-6 mx-auto shadow-lg p-3 bg-body-tertiary rounded">
                <h2 class="text-muted text-center">Edit Product</h2>
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-center">
                        <button class="btn btn-primary mt-3" type="submit">Update Product</button>
                        <a class="btn btn-outline-black mt-3" href="{% url 'products' %}">Cancel</a>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}