{% extends "base.html" %}
<!-- Extending the base template -->

{% load static %}
<!-- Load static files -->

{% load my_filters %}
<!-- Load custom filters from 'my_filters' -->

{% block content %}
<!-- Define the content block -->

<!-- Product details section -->
<section class="py-5">
    <div class="container">
        <h4 class="text-center">Product Information </h4>
        <hr>              
        <div class="row  mt-4">
            <!-- Product image -->
            <aside class="col-lg-6 " >
                {% if product.image %}
                    <!-- Display product image if available -->
                    <div class="border rounded-4 mb-3 d-flex justify-content-center border-dark">
                        <img class="card-img-top1 image-product" src="{{ product.image.url }}" alt="{{ product.name }}" width="100%" height="400" >
                    </div>
                {% else %}
                    <!-- Display a default image if product has no image -->
                    <img class="card-img-top1 image-product" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" width="100%" height="400">        
                {% endif %}
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <!-- Product details -->
                    <h4 class="title text-dark">
                        {{ product.name }}
                    </h4>
                    <div class="d-flex flex-row my-3">
                        <!-- Display star rating and add review link -->
                        <div class="text-warning mb-1 me-2">
                            {% if product.rating %}
                                <!-- Display star icons for product rating -->
                                <span class="font-14">
                                    {% for value in product.rating|reviews_range %}
                                        <i class="fas fa-star text-warning"></i>
                                    {% endfor %}
                                </span>
                                <span class="ms-1">
                                    {{ product.rating | floatformat }} / 5
                                </span>
                            {% else %}
                                <!-- Display empty star icons when no rating is available -->
                                <span class="font-14">
                                    {% for _ in 1|reviews_range %}
                                        <i class="far fa-star text-warning"></i>
                                    {% endfor %}
                                </span>
                                <span class="ms-1">
                                    No rating yet
                                </span>
                            {% endif %}
                        </div>            
                        {% if user.is_authenticated %}
                            <a href="{% url 'add_review' product.id %}">Add Review</a>
                        {% else %}
                            <a href="{% url 'add_review' product.id %}">Add Review</a>
                        {% endif %}
                        <div class="ms-2">
                            <!-- Display stock and availability information -->
                            <span class="text-muted"> | <i class="fas fa-shopping-basket fa-sm mx-1"></i>{{ product.stock }}</span>
                            {% if product.stock == 0 %}
                                <span class="text-danger ms-2">Out of stock</span>
                            {% else %}
                                <span class="text-success ms-2">In stock</span>
                            {% endif %}
                        </div>        
                    </div>
                    <div class="mb-3">
                        <!-- Display product price -->
                        <span class="h5">€{{ product.price }}</span>            
                    </div>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <!-- Display product category -->
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <p class="mt-3">
                        <!-- Display product description -->
                        {{ product.description }}
                    </p>
                    {% if request.user.is_superuser %}
                        <!-- Display edit and delete options for superusers -->
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    {% endif %}
                    <hr />
                    
                    <!-- Form for adding product to cart -->
                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST" >
                        {% csrf_token %}
                        <div class="row mb-4">
                            <!-- Quantity input and buttons -->
                            <div class="col-8  mb-3">
                                <input type="hidden" value="{{product.stock}}" id="product_stock">
                                <div class="input-group mb-3 .quantity-btns">
                                    <button class="btn btn-white border border-secondary px-3 decrement-qty" type="button" 
                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input class="form-control text-center border border-secondary qty_input" type="number" name="quantity" value="1" min="1" max="{{product.stock}}" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">                
                                    <button class="btn btn-white border border-secondary px-3 increment-qty" type="button"
                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-2 col-xxl-1 mb-3">
                                <!-- Add to cart button -->
                                <button type="submit" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i></a>
                            </div>            
                            
                            <div class="col-2 col-xxl-1  mb-3">
                                <!-- Check if the product is in the wishlist -->
                                {% with is_in_mywishlist=product.wishlists.all|is_wishlisted:request.user.id %}                                   
                                    {% if is_in_mywishlist %}
                                        <!-- Product is in wishlist, show filled heart -->
                                        <a class="btn wishlist_btn rounded" href="{% url 'remove_from_wishlist' product.id %}">
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                    {% else %}
                                        <!-- Product is not in wishlist, show empty heart -->
                                        <a class="btn wishlist_btn rounded" href="{% url 'add_to_wishlist' product.id %}">
                                            <i class="fa-regular fa-heart"></i>
                                        </a>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </main>
        </div>
    </div>
</section>
<hr>
<!-- Reviews content section -->
<section class="bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <!-- Include reviews list -->
        {% include 'products/includes/reviews_list.html' with reviews=product.reviews.all  %}
    </div>
</section>

<!-- Related products section -->
<section class="bg-light">
    <div class="container px-4 px-lg-5 mt-5 mb-5">
        <h4 class="fw-bolder mb-4">Related products</h4>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-5">
            {% for product in products_related %}    
                <!-- Include product template for related products -->
                {% include 'products/includes/product.html' with product=product show_remove=0 %}
            {% endfor %}
        </div>
        {% if products_related.has_other_pages %}
            <!-- Pagination -->
            <nav aria-label="Page navigation" class="mt-3">
                <ul class="pagination justify-content-center">
                    {% if products_related.has_previous %}
                        <li class="page-item"><a href="?page={{ products_related.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
                    {% endif %}
                    <li class="page-item disabled"><span class="page-link">Page {{ products_related.number }} of {{ products_related.paginator.num_pages }}</span></li>
                    {% if products_related.has_next %}
                        <li class="page-item"><a href="?page={{ products_related.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
